{% include 'theme/header.html.twig' %}

<body>
<div class="page-content">
    <div class="content-wrapper">
        <div class="content d-flex justify-content-center align-items-center">
            <div class="flex-fill">
                <div class="text-center mb-3">
                    <h1 class="error-title">Ops!</h1>
                    <h5>Ops, se ha producido un error al descargar el fichero.</h5>
                </div>
            </div>
        </div>
    </div>
</div>
</body>