Hola {{ email }},

<br/>
<br/>

Le informamos que ya tiene disponible el certificado de aptitud del trabajador {{ trabajador }}.

<br/>
<br/>

También le recordamos que la contraseña para abrir los documentos es {{ passwordFichero }}

<br/>
<br/>
Para acceder utiliza el siguiente <a href="{{ url }}">enlace</a>.
