Hola {{ email }},

<br/>
<br/>

Adjuntamos los datos para acceder al portal de empresa de Meditrauma:<br/>

<br/>
Usuario: {{ email }} <br/>
Contraseña: {{ password }} <br/>

<br/>
Para acceder utiliza el siguiente <a href="{{ ruta }}">enlace</a>.

<br/>
<br/>

La primera vez que accedáis al portal el sistema os pedirá que cambies la contraseña por la que deseéis.

<br/>
<br/>

Todos los documentos que os descarguéis a través del portal están protegidos por la contraseña: Prevencion2021