Hola {{ email }},

<br/>
<br/>

Ya puedes acceder a través del portal de empresa de Meditrauma a los datos de la empresa: {{ empresa }}<br/>

<br/>
Para acceder utiliza las mismas credenciales.<br/>

<br/>
El enlace al portal es el siguiente <a href="{{ ruta }}">enlace</a>.