{% extends 'theme/template.html.twig' %}
{% trans_default_domain 'dashboard' %}

{% block title %} {% trans %}TRANS_DASHBOARD{% endtrans %} {% endblock %}
{% block subtitle %} {% trans %}TRANS_INICIO{% endtrans %} {% endblock %}

{% block card %}

    <script type="text/javascript">
        $(document).ready(function(){

        });
    </script>

    <div class="row">
        <div class="col-lg-12">
            
        </div>
    </div>

{% endblock %}

