{% include 'theme/header.html.twig' %}

<body class="bg-slate-300">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content d-flex justify-content-center align-items-center">
                <!-- change password card -->
                {{ form_start(form, { 'action': path('change_password_otic'), 'attr': { 'class': 'change_password_otic' } }) }}
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="text-center mb-3">
                            <i class="icon-lock2 icon-2x text-warning border-warning border-3 rounded-round p-3 mb-3 mt-1"></i>
                            <h5 class="mb-0">Cambiar contraseña</h5>
                            <span class="d-block text-muted">Introduzca la contraseña actual y posteriormente confirme la nueva.</span>
                        </div>

                        <div class="form-group form-group-feedback form-group-feedback-right">
                            {{ form_widget(form) }}
                        </div>

                        <button type="submit" class="btn bg-blue btn-block"><i class="icon-checkmark3 mr-2"></i> Guardar</button>
                    </div>
                </div>
                {{ form_end(form) }}
                <!-- /change password card -->
            </div>
        </div>
    </div>
</body>